{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Caixa - Erro" %}

{% block content %}
<div class="erro">
  <p>
    {{ mensagem }}
  </p>
  <p>
    <a href="/caixa"> Voltar</a>
  </p>


</div>

{% endblock %}